<%= render 'welcome/header' %>

<div class="jumbotron">
  <div class="container">

    <h2>Hello World</h2>
    <p>
      The time is now: <%= Time.now %>
    </p>
    <!-- button to relocate to the github repo   -->
    <button type="button" class="btn btn-info" value="Input Button" onclick="relocateToGit()">GitHub</button>
  </div>
</div>

<!--<div class="row">-->
<!--  <div class="col-8">col-8</div>-->
<!--  <div class="col-4">col-4</div>-->
<!--</div>-->

<div class="container">

  <div class="row">
    <div class="col-md-4">

      <h1>Enter a number to check if it is Prime</h1>
      <%= form_tag "/validate" do %>
        <%= text_field_tag :search_string %>
        <%= submit_tag "Search" %>
      <% end %>

    </div>

  </div>
</div>





