<%= render 'welcome/header' %>

<%= simple_form_for(@carsforsale) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <div class="col-4"> <%= f.input :title %> </div>
    <div class="col-4"> <%= f.input :brand %> </div>
    <div class="col-4"> <%= f.input :year %></div>
    <div class="col-4"> <%= f.input :engine %></div>
    <div class="col-4"> <%= f.input :transmission %></div>
    <div class="col-4"> <%= f.input :mileage %></div>
    <div class="col-4"> <%= f.input :color %></div>
    <div class="col-4"> <%= f.input :description %></div>
    <div class="col-4"> <%= f.input :price %></div>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
