<%= render 'welcome/header' %>

<p id="notice"><%= notice %></p>
<div class="showcarDesgin">
  <div>
    <h2>Title:</h2>
    <%= @carsforsale.title %>
  </div>

  <div>
    <h2>Brand:</h2>
    <%= @carsforsale.brand %>
  </div>

  <div>
    <h2>Year:</h2>
    <%= @carsforsale.year %>
  </div>

  <div>
    <h2>Engine:</h2>
    <%= @carsforsale.engine %>
  </div>

  <div>
    <h2>Transmission:</h2>
    <%= @carsforsale.transmission %>
  </div>

  <div>
    <h2>Mileage:</h2>
    <%= @carsforsale.mileage %>
  </div>

  <div>
    <h2>Color:</h2>
    <%= @carsforsale.color %>
  </div>

  <div>
    <h2>Description:</h2>
    <%= @carsforsale.description %>
  </div>

  <div>
    <h2>Price:</h2>
    <%= @carsforsale.price %>
  </div>



<%= link_to favourite_text, favourites_update_path(carsforsale: @carsforsale), id: 'favourite_link', remote: true %> |
<% if current_user && current_user.admin %>
  <%= link_to 'Edit', edit_carsforsale_path(@carsforsale) %>
<% end %>|
<%= link_to 'Back', carsforsales_path %>




<%= render 'welcome/footer' %>
</div>